.two_column {
    display: flex;
    flex-direction: column-reverse;

    @include mq(md) {
        flex-direction: row;
    }
}

.two_column_first {
    flex-grow: 2;
}

.two_column_second {
    flex-grow: 1;
}

