.budget_form_heading {
    margin-bottom: $spacing--4;
}

.budget_form {
    display: flex;
    flex-direction: column;
    gap: $spacing--4;
}

.budget_form_date_picker {
    margin-bottom: $spacing--1;
}