.finance_button {
    @include action;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: $spacing--5;
    font-family: $font-secondary;
    font-weight: $font-weight--semibold;

    &:hover:not([disabled]) {
        .finance_button_text {
            text-decoration: underline;
        }
    }

    &__disabled {
        cursor: not-allowed;
        
        &.finance_button__income {
            .finance_button_text {
                color: $link-primary--disabled;
            }
        }

        &.finance_button__expense {
            .finance_button_text {
                color: $link-secondary--disabled;
            }
        }
    }

    &__expense {
        .finance_button_text {
            color: $link-secondary;
        }

        &:hover:not([disabled]) {
            .finance_button_text {
                color: $link-secondary--hover;
            }
        }
    }

    &__income {
        .finance_button_text {
            color: $link-primary;
        }
        &:hover:not([disabled]) {
            .finance_button_text {
                color: $link-primary--hover;
            }
        }
    }
}