.button_container {	
	@include mq(md, max) {
		min-width: 100%;
	}

	&__loading {
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: $spacing--2;
	}
}

.button {
    @include button;

    &__right {
		margin-left: auto;
	}
	&__center {
		margin-left: auto;
		margin-right: auto;
	}
	&__maxMobile {
		@include mq(md, max) {
			min-width: 100%;
		}
	}
}

.button_content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button_spinner {
	height: 3rem;
	width: 3rem;
	color: $color-button;
}