.icon_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $corner-circle;
    color: $color-white;

    &__sm {
        height: $icon-size--xl;
        width: $icon-size--xl;

        & > * {
            height: $icon-size--xl;
            width: $icon-size--xl;
            padding: 5px;
        }
    }

    &__lg {
        height: $icon-size--4xl;
        width: $icon-size--4xl;

        @include mq(md) {
            height: $icon-size--3xl;
            width: $icon-size--3xl;
        }

         & > * {
            height: $icon-size--4xl;
            width: $icon-size--4xl;
            padding: $spacing--3;
            
            @include mq(md) {
                height: $icon-size--3xl;
                width: $icon-size--3xl;
            }
        }
    }

    &__primary,
    &__income  {
        background-color: $color-primary;
    }
    &__secondary {
        background-color: $color-secondary;
    }

    &__home {
        background-color: $color-category-home;
    }

    &__transportation {
        background-color: $color-category-transport;
    }

    &__savings {
        background-color: $color-category-savings;
    }

    &__shopping {
        background-color: $color-category-shopping;
    }

    &__other {
        background-color: $color-category-other;
    }

    &__entertainment {
        background-color: $color-category-entertainment;
    }

    &__positive {
        background-color: $color-success;
    }

    &__negative {
        background-color: $color-error;
    }
}