.modal_buttons {
    display: flex;
    gap: $spacing--3;
    flex-wrap: wrap;
    margin-bottom: $spacing--2;

    @include mq(md) {
        flex-wrap: nowrap;

        & > * {
            width: 50%;
        }
    }

    & > * {
        width: 100%;
    }
}

.modal_buttons_button {
    width: 100%;
}

.modal_buttons__delete {
    height: $icon-size--md;
    width: $icon-size--md;
    margin-left: $spacing--1;
}