.accordion_item {
    margin-bottom: $spacing--6;
}

.accordion_item_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;

    &__open {
        max-height: 1000px;
        transition: max-height 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);

    }
}
