.u-skeleton {
    @include skeleton;
}

.u-skeleton-circle {
    @include skeleton;

    &::after {
        border-radius: $corner-circle;
    }
}

.u-skeleton-text {
    @include skeleton;
    height: 3rem;

    &--thin {
        height: 2rem;
    }

    &--short {
        width: 7rem;
    }

    &--medium {
        width: 10rem;
    }

    &--long {
        width: 15rem;
    }
}

.u-skeleton-donut {
    @include skeleton($includeAnimation: false);
    height: 300px;
    width: 300px;

    &::after {
        border-radius: $corner-circle;
        border: solid $skeleton-color 7rem;
        background-color: transparent;
        animation: pulse-border 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
}