/* ------------------------------------ *\
		tools.action
\* ------------------------------------ */

// Action
@mixin action {
    padding: 0;
	background: transparent;
	border-color: transparent;
	font-weight: $font-weight--normal;
	font-family: $font-secondary;
	cursor: pointer;
}

@mixin button {
    @include action;
    font-size: $font-size--3;
	font-weight: $font-weight--semibold;
	text-align: center;
	border-radius: $corner-size--2;
	padding: $spacing--1 $spacing--3;

    &:disabled {
		pointer-events: none;

		&:hover {
			transition: none;
		}
	}

    &__primary {
        color: $color-button-primary-text;
        background-color: $color-button;

        &:disabled {
            background-color: $color-button--disabled;
        }

        &:hover {
            background-color: $color-button--hover;
        }

    }

    &__secondary {
        color: $color-button;
        border: $border--lg solid $color-button;

        &:disabled {
            color: $color-button--disabled;
            border-color: $color-button--disabled;
        }

        &:hover {
            color: $color-button--hover;
            border-color: $color-button--hover;
        }
    }

    &__underline {
        padding: 0;
        color: $color-button;
        text-decoration: underline;

        &:disabled {
            color: $color-button--disabled;
        }

        &:hover {
            color: $color-button--hover;
        }
    }
}

@mixin link {
    text-decoration: none;
	font-size: var(--font-size--3);
    font-family: $font-secondary;
    font-weight: $font-weight--semibold;

    &:hover,
    &:focus {
        text-decoration: underline;
    }


	&__primary {
		color: $link-primary;

		&:hover,
		&:focus {
			color: $link-primary--hover;
		}
	}

	&__dark {
		color: $link-dark;

		&:hover,
		&:focus {
			color: $link-dark--hover;
		}
	}

	&__disabled {
		color: $link-dark--disabled;

		&:hover {
			cursor: default;
		}
	}
}