.donut_chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing--5;
}

.donut_chart_chart {
    position: relative;
    min-width: 300px;
    min-height: 300px;
}

.donut_chart_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing--1;
}

.donut_chart_amount {
    @include bold-text;
}

.donut_chart_text {
    color: $color-expense;
}

.donut_chart_labels {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing--2 $spacing--8;
}