:export {
	income: $color-income;
	expense: $color-expense;
	home: $color-category-home;
	transportation: $color-category-transport;
	savings: $color-category-savings;
	shopping: $color-category-shopping;
	other: $color-category-other;
	entertainment: $color-category-entertainment;
	empty: $color-grey-300;
}