.formfield_string {
	position: relative;
	display: flex;
	flex-flow: column;
	color: $color-formfield;

	&.isDisabled {
		color: $color-formfield--disabled;
	}
	&.fullWidth {
		width: 100%;
	}
}

.formfield_string_label {
    &__hidden {
        @include visually-hidden;
    }
}


.formfield_string_input {
	padding: $spacing--1;
	width: 100%;
	border: 1px solid $color-formfield-border;
	border-radius: $corner-size--2;
	background-color: $color-formfield-bg;
	&::placeholder {
		color: currentColor;
	}

	&__noLabel {
		padding-top: $spacing--2;
	}
	.isDisabled & {
		cursor: not-allowed;
		border-color: $color-formfield-border--disabled;
	}

    &.hasError {
		border-color: $color-formfield--error;
	}

	.formfield_string__background & {
		background-color: $color-formfield-bg;
	}
}

.formfield_string_input:focus ~ .formfield_string_border {
	width: 100%;

	.hasError & {
		width: 0%;
	}
}

.formfield_string_input:not([disabled]):hover:not(:focus) {
	.hasError & {
		box-shadow: 0 1px 0 0 transparent;
	}
}