.content_section {
    scroll-margin-top: 30rem;
	padding: $spacing--7 $spacing--2;

	@include mq(md) {
		margin-left: auto;
        margin-right: auto;
        opacity: 1;

        &__scrollBehavior {
            scroll-margin-top: 15rem;
        }
	}

	&__standard {
		max-width: 124.8rem;
	}
	&__wide {
		max-width: 153rem;
	}
	&__narrow {
		max-width: 96rem;
	}

	&__slim {
		max-width: 72rem;
	}

	&__skinny {
		max-width: 65rem;
	}

	&__background {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	&__full {
		padding: 0;
	}

	&__fullscreen {
		height: 100%;
		width: 100%;
		min-height: 100vh;
		padding: $spacing--base 0;
	}
	&__center {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__box {
		background-color: $color-white;

		padding: $spacing--5;
	}
	&__noPadding {
		padding: 0;
	}

	&__noMargin {
		margin-left: 0;
		margin-right: 0;
	}

	&__fullHeight {
		height: 100%;
	}
}